.jobs-container {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  background-size: cover;
  min-height: 90vh;
}
@media screen and (min-width: 768px) {
  .jobs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .loader-container {
    width: 80%;
  }
}
.jobs-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 64px;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .jobs-error-view-container {
    width: 70%;
    margin-top: 70px;
    padding-bottom: 0px;
  }
}
.jobs-failure-img {
  width: 250px;
  height: 200px;
}
@media screen and (min-width: 768px) {
  .jobs-failure-img {
    width: 400px;
    height: 350px;
  }
}
.jobs-failure-heading-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .jobs-failure-heading-text {
    font-size: 38px;
  }
}
.jobs-failure-description {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  width: 90%;
  max-width: 388px;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .jobs-failure-description {
    font-size: 16px;
  }
}
.jobs-failure-button {
  padding: 8px 32px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}
